<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<h1><span th:text="${title}"></span></h1>

<hr>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Minimum Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article: ${articles}"> <!--Table row-->
        <th scope="row" th:text="${article.getId()}"></th>
        <td th:text="${article.getName()}"></td>
        <td th:text="${article.getDescription()}"></td>
        <td th:text="${article.getQuantity()}"></td>
        <td th:text="${article.getQuantity_min()}"></td>
    </tr>
    </tbody>
</table>

<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>
</html>