<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layout}">
<head>
    <title>Articles</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><span th:text="${title}"></span></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#addModal">Add
                </button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Minimum Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <!--Table row-->
                <div hidden th:with="counter=${counter.clear()}"></div>

                <tr th:each="article: ${articles}" th:with="counter=${counter}">
                    <th scope="row" th:with="counter=${counter.incrementAndGet()}"><span th:text="${counter}"></span>
                    </th>
                    <td hidden th:text="${article.getReference()}"></td>
                    <td th:text="${article.getName()}"></td>
                    <td th:text="${article.getDescription()}"></td>
                    <td th:text="${article.getQuantity()}"></td>
                    <td th:text="${article.getQuantity_min()}"></td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm me-2" data-bs-toggle="modal"
                                th:attr="data-bs-target='#updateModal' + ${article.getId()}, id='updateButton' + ${article.getId()}">
                            <i class="bi bi-pencil-square"></i>
                            <span hidden th:text="${article.getId()}"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                th:attr="data-bs-target='#deleteModal' + ${article.getId()}">
                            <i class="bi bi-trash2"></i>
                        </button>
                    </td>

                    <!-- Update Modal -->
                    <div class="modal fade" th:attr="id='updateModal' + ${article.getId()}" tabindex="-1"
                         aria-labelledby="updateModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateModalLabel">Update Article</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div id="updateForm">
                                    <form method="post" action="#">
                                        <div class="modal-body row g-3">
                                            <div class="col-12">
                                                <label th:attr="for='name' + ${article.getId()}"
                                                       class="form-label">Name</label>
                                                <input type="text" class="form-control"
                                                       th:attr="id='name' + ${article.getId()}">
                                            </div>
                                            <div class="col-12">
                                                <label th:attr="for='description' + ${article.getId()}" class="form-label">Description</label>
                                                <textarea class="form-control"
                                                          th:attr="id='description' + ${article.getId()}"
                                                          rows="3"></textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <label th:attr="for='quantity' + ${article.getId()}" class="form-label">Quantity</label>
                                                <input type="number" class="form-control"
                                                       th:attr="id='quantity' + ${article.getId()}">
                                            </div>
                                            <div class="col-md-6">
                                                <label th:attr="for='quantity_min' + ${article.getId()}" class="form-label">Minimum
                                                    Quantity</label>
                                                <input type="number" class="form-control"
                                                       th:attr="id='quantity_min' + ${article.getId()}">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-warning">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Delete Modal -->
                    <div class="modal fade" th:attr="id='deleteModal' + ${article.getId()}" tabindex="-1"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete Article</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h3>
                                        Would you really delete the article <span th:text="${article.getName()}"></span>?
                                    </h3>
                                </div>
                                <div class="modal-footer">
                                    <form action="articles.html"
                                          th:action="@{/v1/articles/{articleId}/delete(articleId=${article.getId()})}">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <script th:inline="javascript">
                        $("#updateButton" + [[${article.getId()}]]).click(function () {
                            let articleId = $(this).children('span').html()
                            let url = '/v1/articles/' + articleId

                            console.log(url);

                            let updateModal = $("#updateModal" + [[${article.getId()}]])
                            let updateForm = updateModal.find("#updateForm")

                            $.ajax({
                                url: url,
                                data: {"articleId": articleId},
                                type: "POST",

                                success: function (fragment) {
                                    console.log("SUCCESS: ", fragment);
                                    console.log("var: article", [[${article}]]);

                                    updateForm.replaceWith(fragment);
                                },
                                error: function (error) {
                                    console.log("ERROR: ", error);
                                }
                            });
                        });
                    </script>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1"
         aria-labelledby="addModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Article</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>

                <form method="post" action="articles.html" th:action="@{/v1/articles/add}" th:object="${article}">
                    <div class="modal-body row g-3">
                        <div class="col-12">
                            <label for="reference" class="form-label">Reference</label>
                            <input type="text" class="form-control" id="reference" th:field="*{reference}">
                        </div>
                        <div class="col-12">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}">
                        </div>
                        <div class="col-12">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3"
                                      th:field="*{description}"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="quantity" th:field="*{quantity}">
                        </div>
                        <div class="col-md-6">
                            <label for="quantity_min" class="form-label">Minimum Quantity</label>
                            <input type="number" class="form-control" id="quantity_min" th:field="*{quantity_min}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div layout:fragment="customJavaScript">
</div>

</body>
</html>